
					<!-- MAIN div start -->
					<div id="dir" class="col-xl-10 col-lg-10 col-12 offset-xl-2 offset-lg-2 text-center pt-3">
						<div class="row">
							<div class="col-10 offset-2 text-justify">
								<h1>Welcome!</h1>
								<p>Lista de afazeres:</p>
								<ul class="list-unstyled">
								 	<li><i class="far fa-check-square"></i> Gerar QRCodes</li>
								 	<li><i class="far fa-square"></i> Impressão dos QRCodes</li>
								 	<br>
								 	<li><i class="far fa-check-square"></i> Cadastro do cliente através do QRCode</li>
								 	<li><i class="far fa-check-square"></i> Validação do QRCode no cadastro</li>
								 	<br>
								 	<li><i class="far fa-check-square"></i> Sorteio diário dos clientes</li>
								 	<li><i class="far fa-square"></i> Validação do QRCode do ganhador</li>
								 	<br>
								 	<li><i class="far fa-check-square"></i> Área adm de destaques</li>
								 	<li><i class="far fa-check-square"></i> Área adm de promo lanches</li>
								 	<li><i class="far fa-check-square"></i> Área adm da conta admin</li>
								 	<br>
								 	<li><i class="far fa-check-square"></i> Buscar no db os destaques para a home</li>
								 	<li><i class="far fa-check-square"></i> E-mail de contato na home
								 		<ul class="list-unstyled">
								 			<li>&emsp;<i class="fas fa-check"></i> funcionando</li>
								 			<li>&emsp;<i class="fas fa-minus"></i> msg de sucesso</li>
								 			<li>&emsp;<i class="fas fa-check"></i> msg de erro</li>
								 			<li>&emsp;<i class="fas fa-check"></i> validação</li>
								 		</ul>
								 	</li>
								 	<br>
								 	<li><i class="far fa-check-square"></i> Bug reporte</li>
								</ul>
							</div>
						</div>
						<br>
						<br>
						<br>
						<br>
						<br>
					</div>
					<!-- MAIN div end -->
				</div>
			</div>
		</section>
		<!-- CONTENT section end -->
