
					<!-- MAIN div start -->
					<div id="dir" class="col-xl-10 col-lg-10 col-12 offset-xl-2 offset-lg-2 text-center pt-3">
						<h1>Promoção Restaurante!</h1>
						<br>
						
						<div id="" class="">
							<nav class="row nav flex-column col-xl-4 col-lg-4 col-md-6 col-10 offset-xl-4 offset-lg-4 offset-md-3 offset-1 mb-3 ">
								<div class="dropdown-divider first-divider"></div>
								<a class="nav-link " href="/admin/lunch/generatecode">Gerar códigos</a>
								<div class="dropdown-divider"></div>
								<a class="nav-link " href="/admin/lunch/lottery">Sortear clientes do dia</a>
								<div class="dropdown-divider"></div>
								<a class="nav-link " href="/admin/lunch/list">Lista de sorteados</a>
								<div class="dropdown-divider"></div>
								<a class="nav-link d-none" href="/admin/#">Outros</a>
								<div class="dropdown-divider d-none"></div>
							</nav>
						</div>
					</div>
					<!-- MAIN div end -->
				</div>
			</div>
		</section>
		<!-- CONTENT section end -->
